*{
  font-size: 300px;
  font-family: 'Play', sans-serif;
  -webkit-transition:all .25s ease;
       -moz-transition:all .25s ease;
             -o-transition:all .25s ease;
                   transition:all .25s ease;
}
